/* normalize  */

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

 .hidden {   /*we need higer then other, as it used by pyscript, don't remove*/
    visibility: hidden;
}

.find_container, .ulpan_list_container {
    border: 1px solid black;
}


.map2 {

    width="400"
    height="400"
    style="border:5px solid #373A48"
    loading="lazy"
}

header{
display: flex;
justify-content: space-between;
position: absolute;
width: 100vw;
height: 100px;
left: 0px;
top: 0px;
background: #373A48;
color: white;
font-family: 'Noto Sans Lepcha', sans-serif;
}
.header-left{
display: flex;
height: 101px;
align-items: center;
margin: 0 50px;
}
.header-right{
display: flex;
height: 101px;
align-items: center;
}
.header-right h3{
    margin: 0px 50px;
}
